.topicos {
    background-color: var(--branco);
    padding: 1em 0 0 0;
}

.topicos__conteudo {
    background-color: var(--azul);
    
}

.topicos__titulo {
    font-weight: 300;
    color: var(--branco);
    text-align: center;
    padding: 1em 0 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 0 1em 0;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 1em 1em;
    gap: 16px;

}

.topicos__link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--branco);
}.topicos {
    background-color: var(--branco);
    padding: 1em 0 0 0;
}

.topicos__conteudo {
    background-color: var(--azul);
    
}

.topicos__titulo {
    font-weight: 300;
    color: var(--branco);
    text-align: center;
    padding: 1em 0 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 0 1em 0;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 1em 1em;
    gap: 16px;

}

.topicos__link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and ( min-width:1728px) {
    .topicos__conteudo {
        padding: 3em 34vw;
    }
}